
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monsters</title>
  </head>
  <body>
    <h1>Welcome to the Monsters app!</h1>
    <p>This App is dedicated to viewing your Favorite MH Monsters!.</p>

    <a href="/monsters">Browse Monsters</a>
  </body>
</html>